.filter-list li.is-checked span {
  text-decoration: underline;
  color: red;
}

.containerr {
  padding: 10px;
}


.col_one_third {
  width: 25%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
}


@media(max-width:768px){
  .col_one_third {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
}
}
