

.iframe-text{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


@media(max-width:768px){
    .iframe-text{
        display: flex;
      flex-direction: column;
      gap: 10px;
    }
}

.slick-prev, .slick-next {
    background: black !important;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    /* background: transparent; */
}

